@import url(../../styles/global.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    background-color: ;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    width: 100%;
    gap: 12px;
    
    button{
        color: solid black;
        border-radius: 15px;
        background-color: #BE9FF7;
        color: white;
        width: 100px;
        height: 32px;
        font-size: 12px;
        font-weight: 600;
         

    }

}


.pfp{
    display: flex;
    width: 155px;
    height: 155px;
}
section{
    display: flex;
    border-radius: 25px;
    background: var(--linear-roxo-roxo-claro, linear-gradient(217deg, #AA79F1 10.04%, #8534FA 70.22%));
    width: 325px;
    height: 188px;
    align-items: center;
    justify-content: center;
    
}


.conquistas {
    padding: 8px;
    display: flex;
    width: 100%;
    height: 21px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 12px;
}






.achivement-box {
    border-radius: 25px;
    display: flex;
    margin: 12px;
    gap: 100px;
    padding: 25px;
    width: 324px;
    height: 144px;
    padding: 2px;
    box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.1);
}

.conquista_information {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    justify-content: space-around;
    padding: 2px;
    width: 100%;
    height: 112px;
}
.achivement-box button{
    width: 100px;
    height: 32px;
    background-color: #548CFF;
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.achivement-box img{
    height: 112px;
    width: 89px;
}







h1 {
    font-size: 24px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 10px;
}