/* EXEMPLO DE CODIGO */

:root {
  /* EXEMPLO DE CODIGO */

:root {
  /* Gradientes */
  --blue-linear: linear-gradient(90deg, #3A8EF6 0%, #6F3AFA 100%);

  /* Cores */
  --gray: #6C87AE;
  --gray-dark: #031432;
  --black: #000000;
  --white: #FFFFFF;
  --blue-dark: #432C99;
}
}