@import url(../styles/global.css);

/* Botão geral */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  background: var(--blue-linear);
  color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}
button:hover {
  background: linear-gradient(90deg, #6F3AFA 0%, #3A8EF6 100%);
  box-shadow: 0 4px 16px rgba(58, 142, 246, 0.2);
  transform: translateY(-2px) scale(1.04);
  transition: all 0.5s;
}


/* Header */
header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.logo>img {
  width: 68px;
  height: 62px;
}

.logo>h2 {
  font-size: 32px;
  font-weight: 600;
}

.logo>h2>span {
  background: var(--blue-linear);
  /* Aplica o gradiente */
  -webkit-background-clip: text;
  /* Recorta o gradiente no texto */
  -webkit-text-fill-color: transparent;
  /* Torna o preenchimento do texto transparente */
}

.nav {
  display: flex;
  gap: 40px;
  flex-direction: row;
  color: var(--gray);
}

.nav a[href="#inicio"] {
  background: var(--blue-linear);
  /* Aplica o gradiente */
  -webkit-background-clip: text;
  /* Recorta o gradiente no texto */
  -webkit-text-fill-color: transparent;
  /* Torna o preenchimento do texto transparente */
}
.nav a:hover {
  color: #3A8EF6;
  text-decoration: underline;
  transition: color 0.5s;
}

header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  background: var(--blue-linear);
  color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}
header > a:hover {
  background: linear-gradient(90deg, #6F3AFA 0%, #3A8EF6 100%);
  box-shadow: 0 4px 16px rgba(58, 142, 246, 0.2);
  transform: translateY(-2px) scale(1.04);
  transition: all 0.5s;
}

/* Hero */
section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 136px;
  gap: 100px;
}

section.hero .label {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}

section.hero .hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.hero .hero-title h1 {
  font-size: 60px;
}

section.hero .hero-title h1 span {
  background: var(--blue-linear);
  /* Aplica o gradiente */
  -webkit-background-clip: text;
  /* Recorta o gradiente no texto */
  -webkit-text-fill-color: transparent;
  /* Torna o preenchimento do texto transparente */
}

section.hero .hero-title h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--gray);
}

section.hero a {
  font-size: 32px;
}

section.hero a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  background: var(--blue-linear);
  color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}
section.hero a:hover {
  background: linear-gradient(90deg, #6F3AFA 0%, #3A8EF6 100%);
  box-shadow: 0 4px 16px rgba(58, 142, 246, 0.2);
  transform: translateY(-2px) scale(1.04);
  transition: all 0.5s;
}

section.hero img {
  width: 400px;
  height: auto;
}

/* About */
section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 135px;
  padding: 22px 131px;
  background-color: #E2EDFF;
}

section.about .about-text {
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

section.about .about-text h2 {
  font-weight: 600;
}

section.about .about-text h3 {
  font-weight: 400;
  color: var(--gray);
}

section.about .about-text h3 span {
  font-weight: 700;
}

/* Mission */
section.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 108px;
  padding: 0 165px;
  gap: 64px;
}

section.mission .mission-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

section.mission .mission-title h2 {
  font-size: 32px;
  font-weight: 600;
}

section.mission .card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 36px;
}

section.mission .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Adiciona sombra */
  border-radius: 24px;
  gap: 24px;
}
section.mission .card:hover {
  box-shadow: 0 8px 24px rgba(58, 142, 246, 0.15);
  transform: translateY(-6px) scale(1.03);
  transition: all 0.5s;
}

section.mission .card button {
  width: 100%;
}

section.mission .card .card-icon {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

section.mission .card .card-icon .img {
  width: 118px;
  height: auto;
  display: flex;
  align-self: flex-start;
}

section.mission .card .card-info {
  gap: 12px;
}

section.mission .card .card-info h4 {
  font-size: 24px;
  font-weight: 600;
}

section.mission .card .card-info p {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

/* Functions */

section.functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 108px 190px;
  gap: 21px;
}
  

section.functions h2 {
  font-size: 38px;
  font-weight: 700;
}

section.functions p {
  font-size: 16px;
}

section.functions p span {
  font-weight: 800;
}

section.functions .card-wrapper {
  display: flex;
  gap: 48.5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section.functions .card-wrapper .card {
  width: 314px;
  height: auto;
  padding: 32px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  gap: 12px;
}
section.functions .card-wrapper .card:hover {
  box-shadow: 0 8px 24px rgba(58, 142, 246, 0.15);
  transform: translateY(-6px) scale(1.03);
  transition: all 0.5s;
}

section.functions .card-wrapper .card img {
  height: 57px;
  width: auto;
}

section.functions .card-wrapper .card h3 {
  font-size: 24px;
  font-weight: 500;
}

section.functions .card-wrapper .card p {
  font-size: 14px;
  color: var(--gray);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  background-color: var(--blue-dark);
}

footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-wrapper .footer-content {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 66px;
  align-items: center;
}

footer .footer-wrapper .footer-content .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24.23%;
  gap: 16px;
}

footer .footer-wrapper .footer-content .description p {
  font-style: italic;
}

footer .footer-wrapper .footer-content .description .img-wrapper {
  display: flex;
  gap: 10px;
}

footer .footer-wrapper .footer-content .description .img-wrapper img {
  width: 32px;
  height: auto;
}
footer .footer-wrapper .footer-content .description .img-wrapper img:hover {
  filter: brightness(1.2) drop-shadow(0 2px 8px #3A8EF6);
  transform: scale(1.1);
  transition: all 0.5s;
}

footer .footer-wrapper .footer-content .company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 13.40%; */
  gap: 16px;
}

footer .footer-wrapper .footer-content .present {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 13.05%; */
  gap: 16px;
}

footer .footer-wrapper .footer-content .contact {
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 18.54%; */
  gap: 16px;
}

footer .footer-wrapper .footer-line {
  width: 100%;
  border-bottom: 2px solid var(--white); 
  margin: 24px 0;               
}

footer .footer-wrapper p {
  color: var(--white);
  font-weight: 400;
}

footer .footer-wrapper a {
  color: var(--white);
}

footer .footer-wrapper h4 {
  color: var(--white);
}

footer .footer-wrapper h3 {
  color: var(--white);
  font-size: 32px;
}

footer .footer-wrapper h3 span {
    background: var(--blue-linear);
  /* Aplica o gradiente */
  -webkit-background-clip: text;
  /* Recorta o gradiente no texto */
  -webkit-text-fill-color: transparent;
  /* Torna o preenchimento do texto transparente */
}


