/* @import url(../../styles/global.css); */
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between    
}

#calendario {
    width: 50px;
}

.urgente {
    font-size: x-small;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

}

#squad {
   width: 8px;

}


.tarefa {
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

}

#feitos {
    width: 70px;
}

.tarefa {
    font-size: smaller;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
}

.materia{
    display: flex;
    justify-content: flex-start;
}

.progresso{
     display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-around;
}

#pombos{
    width: 5S0px;
    
}

#progresso{
    width: 200px;
}